.modify-task {
    position: absolute;
    bottom: 2px;
    right: 5px;

    border: none;
    background: none;
    cursor: pointer;

    opacity: 0;
}

.task:hover .modify-task {
    opacity: 1;
}

.modify-task:hover {
    transform: scale(1.2);
}

.modify-task i {
    color: black;
    transition: color 0.2s ease;
}

.modify-task:hover i {
    color: black;
}

.edit-task-input input {
    width: 100%;
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.edit-task-input button {
    margin-right: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.edit-task-input button.add-btn {
    background-color: #5aac44;
    color: white;
}

.edit-task-input button.cancel-btn {
    background-color: #999;
    color: white;
}