body {
    font-family: Helvetica, sans-serif;
    background: #595959;
    color: white;
}

.login {
    font-family: Helvetica, sans-serif;
    background: #253452;
    color: white;
}

h1 {
    margin: 125px 10px 125px 5px;
    font-size: 64px;
    text-align: center;
}

.h1-login {
    margin: 125px 10px 125px 5px;
    font-size: 64px;
    text-align: center;
    background: linear-gradient(45deg, #9E3DF1FF 0%, #5B3FCEFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a-login {
    color: white;
    text-decoration: none;
}

label {
    display: block;
    text-align: left;
    font-size: 20px;
    margin: 10px 0;
}

.input-wrapper {
    display: block;
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
}

input {
    border-radius: 15px;
    padding: 15px;
    display: block;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: white;
    border: none;
}

.confirmation-button {
    display: block;
    margin: 40px auto;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: #9E3DF1FF;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    border: none;
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px;
}

/* User profile */

.user-profile {
    margin: 0;
    padding: 0;

    aside {
        width: 400px;
        float: left;
        padding: 10px;
        margin: 10px 0;
        border-right: 1px solid white;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            .user-img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #B3B3B3;
            }
        }

        nav{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid white;
            ul{
                list-style-type: none;
                padding: 0;
                button{
                    background: #696969;
                    border: none;
                    color: white;
                    font-size: 1.3rem;
                    cursor: pointer;
                    padding: 10px 20px;
                    margin: 20px 0;
                    width: 100%;
                    text-align: center;
                    
                    transition: all 0.2s ease;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }            
        }
        
    }
    
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        form{
            display: flex;
            flex-direction: column;
        }
        .input-wrapper {
            display: flex;
            
        }
    }
    
    .avatar-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #B3B3B3;
        margin: 0 auto 20px;
    }
}
