<div class="column">
    <h3>Lorem Ipsum</h3>

    <div class="task-list">
        <div class="task">
            <button></button>
            <p>olaqevdsfbdgnfgwfegrhtjyrthergef1</p></div>
        <div class="task">
            <button></button>
            <p>hola2</p></div>
        <div class="task">
            <button></button>
            <p>olaqevdsfbdgnfgwfegrhtjyrthergef1</p></div>
        <div class="task">
            <button></button>
            <p>hola2</p></div>
    </div>

    <div class="add-task">
        <p>+ Añade otra tarea</p>
    </div>
</div>