<style>
    .column {
        width: 260px;
        background: #2c2c2c;
        padding: 12px;
        border-radius: 10px;
        color: white;
    }

    .task-list {
        background: #bdbdbd;
        border-radius: 12px;
        padding: 10px;
        height: 300px;
    }

    .task {
        color: black;
        background: white;
        margin-bottom: 10px;

        button {
            padding: 5px;
            border-radius: 50%;
        }

    }
</style>

<div class="column">
    <h3>Lorem Ipsum</h3>

    <div class="task-list">
        <div class="task"><button></button>hola1</div>
        <div class="task"><button></button>hola2</div>
    </div>

    <div class="add-task">
        <p>+ Añade otra tarea</p>
    </div>
</div>