<style>
    .task {
        color: black;
        background: white;
        margin-bottom: 10px;
        border-radius: 10px;
        display: flex;
        padding: 5px;
        gap: 5px;


        button {
            padding: 10px;
            border-radius: 50%;
            height: 50%;
            align-self: center;
        }

        p {
            max-width: 260px;
            margin: 0;
            word-break: break-word;
        }
    }
</style>

<div class="task"><button></button><p>task</p></div>